<h1>Reservations#show</h1>
<p>Find me in app/views/reservations/show.html.erb</p>

<h1>Tweets#show</h1>
<p>Find me in app/views/tweets/show.html.erb</p>

<p><span>合計料金: </span><%= @reservation.total_price %></p> 
<p><span>人数: </span><%= @reservation.persons %></p>
<p><span>予約確定日: </span><%= @reservation.created_at %></p>
